---
import DocsLayout from '../../layouts/DocsLayout.astro';
---

<DocsLayout title="BalineseDate API - Balinese Calendar" description="API reference">
	<h1 class="font-display text-4xl gold-accent mb-8">BalineseDate API Reference</h1>

	<div class="code-block mb-6">
		<pre><code class="language-rust">use balinese_calendar::BalineseDate;

let date = BalineseDate::from_ymd(2023, 1, 1)?;</code></pre>
	</div>

	<div class="code-block mb-6">
		<pre><code class="language-rust">println!("Saka Year: {}", date.saka_year());
println!("Sasih: {}", date.sasih_name());
println!("Wuku: {}", date.wuku_name());</code></pre>
	</div>

	<div class="code-block mb-6">
		<pre><code class="language-rust">if !date.rahinan().is_empty() {
    println!("Holy days: {:?}", date.rahinan());
}</code></pre>
	</div>
</DocsLayout>
