---
import DocsLayout from '../../layouts/DocsLayout.astro';
---

<DocsLayout title="Installation - Balinese Calendar" description="Installation guide">
	<h1 class="font-display text-4xl gold-accent mb-8">Installation</h1>

	<div class="code-block mb-6">
		<pre><code class="language-toml">[dependencies]
balinese-calendar = "0.1"</code></pre>
	</div>

	<div class="code-block mb-6">
		<pre><code class="language-rust">use balinese_calendar::BalineseDate;

let date = BalineseDate::from_ymd(2023, 1, 1)?;</code></pre>
	</div>
</DocsLayout>
